:root {
	/* Colors */
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;

	/* Gradients & Effects */
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%),
		0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

/* Typography */
@font-face {
	font-family: 'Atkinson';
	src: url('/mc-blog//fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/mc-blog//fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Base Styles */
body {
	font-family: 'Atkinson', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	color: rgb(var(--gray-dark));
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

/* Typography Scales */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

/* Text Elements */
strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);

	&:hover {
		color: var(--accent);
	}
}

/* Form Elements */
textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

/* Content Elements */
table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Code Blocks */
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	max-width: 100%;

	&>code {
		all: unset;
		white-space: pre-wrap !important;
		word-wrap: break-word !important;
	}
}

/* Block Elements */
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

/* Lists and Paragraphs */
ol,
ul,
p {
	margin: 8px;
}

ol {
	padding-left: 3rem !important;
}

ul {
	padding-left: 4rem !important;
}

/* Custom Components */
.tldr {
	border: 2px solid #e0e0e0;
	border-radius: 8px;
	padding: 10px 20px;
	margin: 20px 0;
	background-color: #f8f9fa;
	box-shadow: var(--box-shadow);
	margin-bottom: 60px;
}

/* Utility Classes */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* Responsive */
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}
